
{% load static %}
{% block content %}


  <!-- STEP 3 -->
  <div data-step="1">
    <h3>Wybierz organizacje, której chcesz pomóc:</h3>
    <div class="form-group form-group--checkbox">
           <ul id="li">
        {% for ins in institutions %}
    
        <label>
          <input type="radio" name="organization" value={{ ins.id }} />
          <span class="checkbox radio"></span>
          <span class="description">
            <div class="title" id={{ ins.id }} >{{ ins.name }}</div>
            <div class="subtitle" id="li">
             {{ ins.description }}<br><br>
                             </div>
          </span>
         
        </label>
    
        {% endfor %}
</ul>  </div>
        </div>
            <div class="form-group form-group--buttons">
              <button type="button" class="btn prev-step">Wstecz</button>
              <button type="button" class="btn next-step">Dalej</button>
            </div>
          
        

  {% endblock %}







            
        