

{% block content %}


  
      <ul id="li">
        {% for ins in institutions %}
    
        <label>
          <input type="radio" name="organization" value={{ ins.id }} />
          <span class="checkbox radio"></span>
          <span class="description">
            <div class="title" id={{ ins.id }} >{{ ins.name }}</div>
            <div class="subtitle" id="li">
             {{ ins.description }}<br><br>
                             </div>
          </span>
         
        </label>
    
        {% endfor %}
      </ul> 
   
  {% endblock %}







            
        