{% load static %}
<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}"/>
  </head>
  <body>

<header class="header--main-page">
      <nav class="container container--70">
        <ul class="nav--actions">

            {% if user.is_authenticated %}
                {% if user.is_superuser %}
<li><a href="/admin/" class="btn btn--small btn--highlighted">Panel administratora</a></li><br>
{% endif %}

                 <li class="logged-user">
            Witaj {{ request.user.first_name }}
            <ul class="dropdown">
              <li><a href="/userview/#user-view">Profil</a></li>
                <li><a href="/setting/#setting-page">Ustawienia</a></li>
              <li><a href="#">Moje zbiórki</a></li>
              <li><a href="/logout/">Wyloguj</a></li>
            </ul>
          </li>
        </ul>

           <li><a href="/logout/" class="btn btn--small btn--without-border">Wyloguj</a></li>
                <li><a href="/userview/#user-view" class="btn btn--small btn--without-border">Profil</a></li>

        {% else %}
          <li><a href="{% url "login" %}#login-page" class="btn btn--small btn--without-border">Zaloguj</a>
          <li><a href="{% url "register" %}#register-page" class="btn btn--small btn--highlighted">Załóż konto</a>
          
{% endif %}


        </ul>
        <ul>
          <li><a href="../" class="btn btn--without-border active">Start</a></li>
          <li><a href="../#steps" class="btn btn--without-border">O co chodzi?</a></li>
          <li><a href="../#about-us" class="btn btn--without-border">O nas</a></li>
          <li><a href="../#help" class="btn btn--without-border">Fundacje i organizacje</a></li>
          <li><a href="../adddonation/#startform" class="btn btn--without-border">Przekaż dary</a></li>
          <li><a href="../#contact" class="btn btn--without-border">Kontakt</a></li>
        </ul>
      </nav>

    
     
    </header>

{% block content %}

{% endblock %}
<footer>
      <div id="contact" class="contact">
        <h2>Skontaktuj się z nami</h2>
        <h3>Formularz kontaktowy</h3>
        <form class="form--contact">
          <div class="form-group form-group--50"><input type="text" name="name" placeholder="Imię" /></div>
          <div class="form-group form-group--50"><input type="text" name="surname" placeholder="Nazwisko" /></div>

          <div class="form-group"><textarea name="message" placeholder="Wiadomość" rows="1"></textarea></div>

          <button class="btn" type="submit">Wyślij</button>
        </form>
      </div>
      <div class="bottom-line">
        <span class="bottom-line--copy">Copyright &copy; 2019</span>
        <div class="bottom-line--icons">
          <a href="#" class="btn btn--small"><img src="{% static "images/icon-facebook.svg" %}"/></a>

          <a href="#" class="btn btn--small"><img src="{% static "images/icon-instagram.svg" %}"/></a>

        </div>
      </div>
    </footer>

    <script src="{% static "js/form_step51.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
    <script src="{% static "js/rest_api154.js" %}"></script>
    <script src="{% static "js/jquery-3.4.1.min.js" %}"></script>
 
  </body>
</html>
