{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="login-page" id="register-page">
      <h2>Załóż konto</h2>

        <form method="post" action="">
          {% csrf_token %}
        <div class="form-group">
          {{ form.first_name }}
        </div>
         <div class="form-group">
          {{ form.last_name }}
        </div>
           <div class="form-group">
          e-mail:
            {{ form.username }}
            </div>
        <div class="form-group">
         haslo: {{ form.password }}
        </div>
        <div class="form-group">
          powtorz haslo: {{ form.password2 }}
        </div>
       
        
{% if form.errors %}
    <font color="red" size="5">
    {% for field in form %}
        {% for error in field.errors %}
        <h3>{{ error|escape }}</h3>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
          <h3>{{ error|escape }}</h3>
    {% endfor %}
{% endif %}</font>
        <div class="form-group form-group--buttons">
          <a href="../login/#login-page" class="btn btn--without-border">Zaloguj się</a>
          <button class="btn" type="submit">Załóż konto</button>
        </div>
      </form>

    </section>
{% endblock %}
